@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Light;  
  src: local("AirbnbCerealLight"),    
    url("./fonts/Montserrat//static/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Semibold";  
  src: local("AirbnbCerealsemibold"),    
    url("./fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "bold";  
  src: local("AirbnbCerealbold"),    
    url("./fonts/Montserrat/static/Montserrat-Black.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Light";
 
}

.font-regular {
  font-family: "Light";
}

.font-mono-semibold {
  font-family: "semibold";
}

.font-mono-bold {
  font-family: "bold";
}

.buttonPrimary{
  background-image: linear-gradient(to right bottom, #002365, #21e287) !important ;
}

.wave{
  background-image: url('./assets/download.svg');
  bottom: 0;
   height: 100px;
  z-index: 1;
}

.cardCon{
  grid-template-columns: repeat(4, 253px)
}

.footer{
  grid-template-columns: repeat(3,337px)
}


