@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.buttonPrimary{
  background-image: linear-gradient(to right bottom, #002365, #21e287) !important ;
}

.wave{
  background-image: url('./assets/download.svg');
  bottom: 0;
   height: 100px;
  z-index: 1;
}

.cardCon{
  grid-template-columns: repeat(4, 253px)
}
.footer{
  grid-template-columns: repeat(3,337px)
}


